# VS Code
.vscode/

# PyCharm
.idea/

# Virtual environments
venv/
.venv/
env/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3

# Caches
*.cache
.ruff_cache/
